{# src/Clc/ExpensemanagerBundle/Resources/views/layout.html.twig #}

{# Variables disponibles dans cette page (entre parenthses les attributs des variables) :
    - 'coloc_expense' tableau de dŽpenses(name, amount, addedDate, date, active, author, owner, coloc, users)
    - 'user_expense'  tableau de dŽpenses(name, amount, addedDate, date, active, author, owner, coloc, users)
    - 'forme_expense' tableau de dŽpenses(name, amount, addedDate, date, active, author, owner, coloc, users)
    - 'balances'      tableau de tableaux [user => balance]
    - 'last_payback'  Un payback(date, coloc, paymentsArray) // paymentsArray = [[payer1, amount1, receiver1] ... [payern, amountn, receivern]]
#}
 
{% extends "::base.html.twig" %}
 
{% block title %}
  {{ parent() }} - Expense Manager
{% endblock %}


{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/expensemanager.css') }}" type="text/css" />
{% endblock %}
  
{% block javascripts %}
  {{ parent() }}
  <script type='text/javascript' src='{{ asset('js/expensemanager-script.js') }}'></script>
  <script type='text/javascript' src='{{ asset('js/jquery.slimscroll.min.js') }}'></script>
  <script type="text/javascript">


  </script>
{% endblock %}  
 
{% block body %} 
  
  {% include "ClcExpensemanagerBundle:Default:addexpensemodal.html.twig" %}
  
  <div id="expense-content">
      
   
      <div id="overview-container">
        <div id="expense-dashboard-container" class="dashboard-container">
          <div id="new-expense-left">
            <div id="expense-header">
                <h1 class="expense-header-left">Balance</h1>
            </div>

            <div id="expense-body-left" class="expense-body"> 
                <div id="bar-chart">
                    {% render 'ClcDashboardBundle:Chart:displayBarChart' with { 'balances' : balances } %}
                </div>
            </div>
          </div>
       
          <div id="new-expense-right">
            <div id="expense-header">
                <h1 class="expense-header-right">Payback</h1>
            </div>

            <div id="expense-body-right" class="expense-body"> 
              
                {% if last_payback is null %}
                    <p>No Payback yet</p>
                {% else %}
                    
                        <div>
                            <p id="payback-table-caption">Last payback on {{ last_payback.date|date("d/m") }}</p>
                        </div>                    
                    <div class="table-slimscroll">
                    <table id="payback-table" class="table">
                        
                        <tbody>                          
                                    {% for payment in last_payback.paymentsArray %}
                            <tr>
                                <td>
                                    <div id="payback-sender">
                                        <p>{{ payment[0] }}</p> 
                                    </div>
                                </td>
                                <td>
                                    <div id="payback-arrow">
                                        <p> {{ payment[1] }}</p>
                                    </div>
                                </td>
                                <td>
                                    <div id="payback-recipient">
                                        <p>{{ payment[2] }}</p> 
                                    </div>                                
                                </td>
                             </tr>
                                    {% endfor %}
                        </tbody>
                     </table>  
                     </div>
                {% endif %}
                     
            </div>   
                    <a class="btn btn-warning" href="{{ path('clc_expensemanager_applypayback') }}">Suggest a Payback</a>
               
          </div>
            
        </div>
      </div>

      <div id="expense-container">
        <div  id="personal-expense" class="expense-list">
          <div id="expense-list-header">             
              <p>Me <i class="icon-arrow-right"></i> <i class="icon-group icon-large" style="font-weight: normal"></i></p>
          </div>
                
          <div id="expense-list-body">
              
            <table id="expense-list-table" class="table">
              <tbody>

                {% for expense in user_expense %}

                <tr>
                  <td>
                    <div id="expense-list-item">
                        <h3>{{ expense.name }}</h3>
                        <i class="icon-time"></i>I added it on {{ expense.date|date("d/m") }}
                    </div>
                  </td>
                  <td><div id="expense-list-cost">{{ expense.amount }}Û<div></td>
                  <td>
                    <div id="expense-list-edit-delete">
                        <i class="icon-edit"></i>
                        <a href="{{ path('clc_expensemanager_remove', {'id': expense.id}) }}">
                        <i class="icon-trash"></i>
                        </a>
                    </div>
                  </td>
                </tr>

                {% endfor %}
                
              </tbody>
            </table>

 
          </div>
        </div>  
        
        <div id="everyone-expense" class="expense-list">
          <div id="expense-list-header">
              <p>Others <i class="icon-arrow-right"></i> Me</p>
          </div>
          
          <div id="expense-list-body-slimscroll">
          <div id="expense-list-body">       

          <table>
            <tbody>

              {% for expense in forme_expense %}


                
                <tr>
                  <td>
                    <div id="expense-list-item">
                        <h3>{{ expense.name }}</h3>
                        <i class="icon-time"></i>Added by <b>{{ expense.owner.nickname }}</b> on {{ expense.date|date("d/m") }}
                    </div>
                  </td>
                  <td><div id="expense-list-cost">{{ expense.amount }}Û<div></td>
                  <td>
                    <div id="expense-list-edit-delete">
                        <i class="icon-edit"></i>
                        <a href="{{ path('clc_expensemanager_remove', {'id': expense.id}) }}">
                        <i class="icon-trash"></i>
                        </a>
                    </div>
                  </td>
                </tr>

              {% endfor %}
                
            </tbody>
          </table>
          </div>
          </div>
        </div>       
      </div>   
      
      <div id="list-container-left">       
      </div> 
    
      <div id="list-container-right">
      </div>
    
      {% include ":default:floatingToolbar.html.twig" %}
    
  </div>
  
{% endblock %}