{# src/Clc/ExpensemanagerBundle/Resources/views/layout.html.twig #}

{# Variables disponibles dans cette page (entre parenthèses les attributs des variables) :
    - 'coloc_expense' tableau de dépenses(name, amount, addedDate, date, active, author, owner, coloc, users)
    - 'user_expense'  tableau de dépenses(name, amount, addedDate, date, active, author, owner, coloc, users)
    - 'forme_expense' tableau de dépenses(name, amount, addedDate, date, active, author, owner, coloc, users)
    - 'balances'      tableau de tableaux [user => balance]
    - 'last_payback'  Un payback(date, coloc, paymentsArray) // paymentsArray = [[payer1, amount1, receiver1] ... [payern, amountn, receivern]]
#}
 
{% extends "::base.html.twig" %}
 
{% block title %}
  {{ parent() }} - Expense Manager
{% endblock %}


{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/expensemanager.css') }}" type="text/css" />
{% endblock %}
  
{% block javascripts %}
  {{ parent() }}
  <script type='text/javascript' src='{{ asset('js/expensemanager-script.js') }}'></script>
  <script type="text/javascript">
      
    var div = document.getElementById('personal-expense');
    var div1 = document.getElementById('everyone-expense');
    
    if (div.style.height>div1.style.height){
        div1.style.height=div.offsetHeight+"px";
    }else{
        div.style.height=div1.offsetHeight+"px";
    }

  </script>
{% endblock %}  
 
{% block body %} 
  
  {% include "ClcExpensemanagerBundle:Default:addexpensemodal.html.twig" %}
  
  <div id="expense-content">
      
    <button class="btn btn-primary" href="#addexpensemodal" data-toggle="modal"><i class="icon-bookmark icon-white"></i> Add Expense</button>
    
      <div id="overview-container">
        <div id="expense-dashboard-container" class="dashboard-container">
          <div id="new-expense-left">
            <div id="expense-header">
                <h1 class="expense-header-left">Balance</h1>
            </div>

            <div id="expense-body"> 
                <div id="bar-chart">
                    {% render 'ClcDashboardBundle:Chart:displayBarChart' with { 'balances' : balances } %}
                </div>
            </div>
          </div>
       
          <div id="new-expense-right">
            <div id="expense-header">
                <h1 class="expense-header-right">Payback</h1>
            </div>

            <div id="expense-body"> 
                
                
                
                <a class="btn btn-warning" href="{{ path('clc_expensemanager_applypayback') }}">Apply Payback</a>
                
                {% if last_payback is null %}
                    <p>No Payback yet</p>
                {% else %}
                    <p>Last payback on {{ last_payback.date|date("d/m") }}</p>
                    
                    {% for payment in last_payback.paymentsArray %}
                        <p>{{ payment[0] }} paid {{ payment[1] }} to {{ payment[2] }}</p>
                    {% endfor %}
                        
                {% endif %}
                    
            </div>
          </div>
            
        </div>
      </div>

      <div id="expense-container">
        <div  id="personal-expense" class="expense-list">
          <div id="expense-list-header">
          </div>
                
          <div id="expense-list-body">

            <table>
              <tbody>

                {% for expense in user_expense %}

                <tr>
                  <td id="task">{{ expense.name }}</td>
                  <td>{{ expense.amount }}€</td>
                  <td><i class="icon-time"></i> {{ expense.date|date("d/m") }}</td>
                  <td id="todo-list-edit-comment-delete">
                    <i class="icon-eye-open"></i>
                    <i class="icon-edit"></i>
                    <a href="{{ path('clc_expensemanager_remove', {'id': expense.id}) }}">
                      <i class="icon-trash"></i>
                    </a>
                  </td>
                </tr>

                {% endfor %}
              </tbody>
            </table>   

 
          </div>
        </div>  
        
        <div id="everyone-expense" class="expense-list">
          <div id="expense-list-header">
          </div>
          
          <div id="expense-list-body">

          <table>
            <tbody>

              {% for expense in forme_expense %}

                <tr>
                  <td>{{ expense.owner.nickname }}</td>   
                  <td id="task">{{ expense.name }}</td>
                  <td>{{ expense.amount }}€</td>
                  <td><i class="icon-time"></i>{{ expense.date|date("d/m") }}</td>
                  
                </tr>

              {% endfor %}
                
            </tbody>
          </table>
 
          </div>
        </div>       
      </div>   
      

      
      <div id="list-container-left">
          
 
                
      </div> 
      <div id="list-container-right">
          

          
      </div>
  </div>
  
{% endblock %}