{# src/Clc/InboxBundle/Resources/views/Notifications/expenseNotification.html.twig  #}

<a href="{{ path('clc_expensemanager_homepage') }}">
    <table class="notification-box">
        <tbody>
            <tr>
                <td>
                    <div class="notification-left">
                        <i class="icon-bookmark"></i>
                    </div>
                <td/>
                <td>
                    <div class="notification-center">
                        <b>{{ notification.author.nickname }}</b> added an expense you are tagged in:<br>
                        '{{ notification.expense.name }}' - {{ notification.expense.amount }}€
                    </div>
                </td>
                <td>
                    <div class="notification-right">
                        {{ notification.date|date("d/m") }}
                    </div>
                </td>
        </tr>
        </tbody>
    </table>
</a>