{# src/Clc/DashboardBundle/Resources/views/layout.html.twig #}

{# Variables disponibles dans cette page (entre parenthèses les attributs des variables) :
    'current_balances' => tableau de tableaux [user => balance]
    'latest_expenses'  => tableau de dépenses(name, amount, addedDate, date, active, author, owner, coloc, users)
    'my_todos'         => tableau de task(state, task, dueDate, date, author, owner, coloc)
    'shopping_list'    => tableau d'item(state, name, comment, author, coloc, addeddate, doneDate)
#}

{% extends "::base.html.twig" %}

{% block title %}
  {{ parent() }} - Dashboard
{% endblock %}
  
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" type="text/css" />
{% endblock %}
      
{% block javascripts %}
  {{ parent() }}
  <script type='text/javascript' src='{{ asset('js/dashboard-script.js') }}'></script>
  <script type='text/javascript' src='{{ asset('js/jquery.slimscroll.min.js') }}'></script>
{% endblock %}      

{% block body %}

  {% include "ClcExpensemanagerBundle:Default:addexpensemodal.html.twig" %}
  {% include "ClcExpensemanagerBundle:Default:requestpaybackmodal.html.twig" %}
  {% include "ClcTodosBundle:Default:addtodomodal.html.twig" %}
  {% include "ClcShoppinglistBundle:Default:additemmodal.html.twig" %}
      
<div id="dashboard-content">
    
    <h1 id="dashboard-title">DASHBOARD</h1>
    
    <div id="overview-container">
        <div id="expense-dashboard-container" class="dashboard-container">   
            <div id="expense-header">
                <p>Expense Manager <i class="icon-chevron-right"></i></h1>
            </div>
            <div id="expense-left">
                <div class="expense-subheader">
                    <h1 id="expense-subheader-left">Current Balances</h1>
                </div>

                <div id="expense-body"> 
                    <div id="bar-chart">
                        {% render 'ClcDashboardBundle:Chart:displayBarChart' with { 'balances' : current_balances } %}
                    </div>
                </div>
            </div>
       
            <div id="expense-right">
                <div class="expense-subheader">
                    <h1 id="expense-subheader-right">Latest Expenses</h1>
                </div>

                <div id="expense-body"> 
                    <div id="expense-body-slimscroll">
                        
                        {% if latest_expenses == null %}
                            You were not tagged in any expense of this flatshare
                        {% else %}
                        
                            <table id="mini-shopping-list-table" class="table">
                                <tbody>

                                    {% for expense in latest_expenses %}

                                        <tr>
                                          <td id="mini-shopping-list-item">
                                              <h3>{{ expense.name }}</h3>
                                              <i class="icon-time"></i>{{ expense.date|date("d/m") }} by {{ expense.owner.nickname }}
                                          </td>
                                          <td id="mini-list-cost">{{ expense.amount }}€</td>
                                          <td id="todo-list-edit-comment-delete">
                                            {#<i class="icon-edit"></i>#}
                                            {% if expense.active == 0 %}
                                                <i class="icon-ok"></i>
                                            {% else %}
                                                <a href="{{ path('clc_expensemanager_remove', {'id': expense.id}) }}">
                                                <i class="icon-trash"></i>
                                                </a>
                                            {% endif %}
                                          </td>
                                        </tr>

                                    {% endfor %}

                                </tbody>
                            </table>
                            
                        {% endif %}
                            
                    </div>
                </div>
            </div>
        </div>

        <div id="small-dashboard-container-left" class="small-dashboard-container" >
            <div class="shopping-upper">
                <p>Your Pending To-dos  <i class="icon-chevron-right"></i></p>
            </div>
            <div class="shopping-lower">
                
                {% if my_todos == null %}
                    You do not have any pending To-do
                {% else %}
                
                    <table id="mini-shopping-list-table" class="table">
                        <tbody>

                            {% for todo in my_todos %}

                              <tr>
                                <td id="mini-shopping-list-item">
                                  <h3>{{ todo.task }}</h3>
                                  <i class="icon-time"></i>For {{ todo.dueDate|date("d/m") }}                                 
                                </td>
                                <td id="todo-list-edit-comment-delete">
                                  {#<i class="icon-edit"></i>#}
                                  <a href="#">
                                    <i class="icon-trash"></i>
                                  </a>
                                </td>
                              </tr>

                            {% endfor %} 

                        </tbody>
                    </table>
                    
                {% endif %} 
                    
            </div>
        </div>

        <div id="small-dashboard-container-right" class="small-dashboard-container">
            <div class="shopping-upper">
                <p>Shopping List <i class="icon-chevron-right"></i></p>
            </div>

            <div class="shopping-lower">
                
                {% if shopping_list == null %}
                    The Shopping List is empty
                {% else %}
                    
                    <table id="mini-shopping-list-table" class="table">
                        <tbody>

                            {% for item in shopping_list %}

                              <tr>
                                <td id="mini-shopping-list-item">
                                  <h3>{{ item.name }}</h3>
                                  <i class="icon-time"></i>Added on {{ item.addedDate|date("d/m") }}                                 
                                </td>
                                <td id="todo-list-edit-comment-delete">
                                  {#<i class="icon-edit"></i>#}
                                  <a href="#">
                                    <i class="icon-trash"></i>
                                  </a>
                                </td>
                              </tr>

                            {% endfor %} 

                        </tbody>
                    </table>
                    
                {% endif %}
                    
            </div>
        </div>
    </div>
          
    {% include ":default:floatingToolbar.html.twig" %}
          
</div>

{% endblock %}
     