<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    
    {{ form_errors(form) }}
    
        <div class="form-row">
            <div class="form-label">{{ 'Enter your email'|trans }}</div>
            <div id="widget">
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, { 'attr': { 'style' : 'width: 160px' } }) }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-label">{{ 'Choose a password'|trans }}</div>
            <div id="widget">
                {{ form_errors(form.plainPassword) }}
                {{ form_widget(form.plainPassword, { 'attr': { 'style' : 'width: 160px' } }) }}
            </div>
        </div>
      
    {{ form_rest(form) }}
      
    
    <div id="register-button">
        <input type="submit" class="btn btn-success" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>

