{# src/Clc/DashboardBundle/Resources/views/JoinColoc/invitation.html.twig #}

{% extends 'ClcDashboardBundle:JoinColoc:joincoloc.html.twig' %}

{% block content %}

    <div class="span8 offset2" id="header-box">
    </div>

    <div class="span8 offset2" id="invitation-box">
        
        <h3> Hello {{ app.user.nickname }}, you have {{ invitations|length }} invitation(s) to join a flatshare</h3>
        
        {% for invitation in invitations %}
                  
            <div>{{invitation.author.nickname}} ({{invitation.author.firstname}} {{invitation.author.lastname}})
                 invites you to join <b>{{invitation.coloc.name}}</b>
            </div>
            <button class="btn btn-success" href="#">
                Accept
            </button>
            <button class="btn btn-warning">Refuse</button>
        
        {% endfor %}
        
    </div>
{% endblock %}