{# app/Resources/views/frame.html.twig #}
 
<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 
    <title>{% block title %}Coloc'all - Make life in your flatshare easier{% endblock %}</title>

    {% block meta %}
    <meta name="description" content="Coloc'all makes life in your shared appartment easier. You can manage expenses, follow to-dos and share shopping lists very easily. And much more to come. Try it now, it is free."/>
    <meta name="keywords" content="Coloc'all, colocall, flatshare, shared appartment, shared flat, flatmates, expense, to-do, shopping list, life, free, easy"/>
    {% endblock %}
        
      <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" />
      <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
      <link rel="stylesheet" href="{{ asset('css/frame.css') }}" type="text/css" />
      <link rel="stylesheet" href="{{ asset('css/banner.css') }}" type="text/css" />
      <link rel="stylesheet" href="{{ asset('css/footer.css') }}" type="text/css" />
      {% block stylesheets %}  
      
      {% endblock %}

  </head>
 
  <body>

    <header class="container-fluid" id="banner-container">
      <div id="banner">
          {% include ":default:banner.html.twig" %}
      </div>
    </header>

    {% block mainbox %}
    
    {% endblock mainbox %}
 
  {% block javascripts %}

    {{ facebook_initialize({'xfbml': true, 'culture': 'fr_FR', 'fbAsyncInit': 'onFbInit();'}) }}
        <script type="text/javascript" > // Script for FOSFacebookBundle
        function goLogIn(){
            window.location = "{{ path('_security_check') }}";
        }
 
        function onFbInit() {
            if (typeof(FB) != 'undefined' && FB != null ) {
                FB.Event.subscribe('auth.statusChange', function(response) {
                    if (response.session || response.authResponse) {
                        setTimeout(goLogIn, 50);
                    } else {
                        window.location = "{{ path('_security_logout') }}";
                    }
                });
            }
        }
        </script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-40408727-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
          
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/moment.js') }}"></script>
    
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

  {% endblock %}
 
  </body>
</html>