{# src/Clc/ExpensemanagerBundle/Resources/views/layout.html.twig #}

{# Variables disponibles dans cette page (entre parenthèses les attributs des variables) :
    - 'message_list' liste de tous les messages concernant la colocation active
#}

{% extends "::base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/inbox.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ asset('css/notification.css') }}" type="text/css" />
{% endblock %}
  
{% block javascripts %}
  {{ parent() }}
  <script type='text/javascript' src='{{ asset('js/inbox-script.js') }}'></script>
  <script type='text/javascript' src='{{ asset('js/jquery.slimscroll.min.js') }}'></script>
{% endblock %}
  
  
 
{% block title %}
  Coloc'all - Chat with your flatmates and see notifications
{% endblock %}
 
{% block body %}
  
  <div id="inbox-content">
      <div id="chat-content">
          <h3>Chat here with your flatmates</h3>

          <div id="chat-messages-box">
              
              {% if message_list == null %}
                  <div id="no-message">
                      <p>Here is a chat to communicate with your flatmates about Coloc'all and other.</p>
                      <p>Send a first message in the box below to start a conversation</p>
                  </div>
              {% else %}

                {% for message in message_list %}

                  <div id="chat-box">
                      <div id="author-box">
                          <img src="{{ asset(message.author.picture.path) }}">
                          <p id="message-author"> {{ message.author.nickname }} </p> 
                      </div>

                      <div id="message-content-box" 
                           {% if message.author == app.user %}
                           style="background: rgb(247,248,248); color: rgb(109, 109, 109);"
                           {% else %}
                           style="background: rgb(247,248,220); color: rgb(109, 109, 150);"
                           {% endif %}>
                          <div id="message-text">{{ message.content }} 
                              <p id="message-date"> {{ message.date|date("d/m") }}</p>
                          </div>
                      </div>
                  </div>

                {% endfor %}
              
              {% endif %}

          </div>

          <div id="add-message-box">
              
              {% render 'ClcInboxBundle:Inbox:getMessageForm' %}
              
          </div>
      </div> 
          
      <div id="notifications-content">
          <h3>What's new around here?</h3>
          
          <div id="notification-messages-box">
              
              {% for notification in notifications %}
              
                {% if notification.category == 1 %}
                    {% include "ClcInboxBundle:Notifications:expenseNotification.html.twig" %}
                {% elseif notification.category == 2 %}
                    {% include "ClcInboxBundle:Notifications:paybackNotification.html.twig" %}
                {% elseif notification.category == 3 %}
                    {% include "ClcInboxBundle:Notifications:taskNotification.html.twig" %}
                {% elseif notification.category == 4 %}
                    {% include "ClcInboxBundle:Notifications:itemNotification.html.twig" %}
                {% else %}
                {% endif %}
              
              {% endfor %}
              
          </div>
      </div>    
  </div>
  
{% endblock %}