{# app/Resources/views/banner.html.twig#}
  
<div id="banner1">
  <a href="{{ path('clc_dashboard_homepage') }}"><img src="{{ asset('img/logo.png') }}" id="logo"  alt=""></a>
</div>
        
<div id="banner2">

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <div id="settings_button" class="banner-button">      
            <div class="dropdown">
                <a id="settings_dropdown_button" class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-cog"></i>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <!-- dropdown menu links -->
                    <li><a href="{{ path('clc_parameters_homepage') }}">Parameters</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>         
                </ul>
            </div>
        </div>
    
        <div id="home_button" class="banner-button">
            <a class="btn btn-link" href="{{ path('clc_dashboard_homepage') }}">Dashboard</a>        
        </div>
    
        <div id="name_button" class="banner-button">
            <a class="btn btn-link" href="{{ path('clc_user_profile') }}">
                <img src="{{ asset(app.session.get('path')) }}" alt="">
                <p>{{ app.user.nickname }}</p>
            </a>        
        </div>

    {% else %}
    
        <div id="links-box">
            <ul>
                <li><a href="{{ path('clc_welcome_login') }}">Home</a></li>
                <li><a href="{{ path('clc_welcome_about') }}">About</a></li>
                <li><a href="{{ path('clc_welcome_how') }}">How it works</a></li>
                <li>|</li>
                <li><a href="{{ path('clc_welcome_register') }}">Register</a></li>
            </ul>
        </div>

    {% endif %}
       
</div>     