{# app/Resources/views/banner.html.twig#}
  

<div id="banner1">
  <img src="{{ asset('img/logo.png') }}" height="80%" width="80%" alt="">
</div>
        
<div id="banner2">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <div id="settings_button">      
            <div class="dropdown">
                <a id="settings_dropdown_button" class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Settings
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <!-- dropdown menu links -->
                    <li><a href="#">Parameters</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>         
                </ul>
            </div>
        </div>
    
        <div id="home_button">
            <a class="btn btn-link" href="{{ path('clc_dashboard_homepage') }}">Home</a>        
        </div>
    
        <div id="name_button">
            <a class="btn btn-link" href="{{ path('clc_dashboard_profile') }}">{{ app.user.username }}</a>        
        </div>

    {% else %}
    
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form class="form-inline" action="{{ path('login_check') }}" method="post">
        <input type="text" id="username" class="input-small" placeholder="Username or e-mail" name="_username" value="{{ last_username }}" />
        <input type="password" id="password" class="input-small" placeholder="Password" name="_password" />

        <input type="checkbox" id="remember_me" name="_remember_me" checked />
        <label class="checkbox" for="remember_me">Remember me</label>
    
        <button type="submit" class="btn btn-success">Sign in</button>
    </form>
        
    {% endif %}
       
</div>
          
       