{# app/Resources/views/default/footer.html.twig #}

<div id="ribbon">
</div>

<div class="container-fluid">
    <ul>
        <li><a href="{{ path('clc_welcome_about') }}">About</a></li>
        <li><a href="{{ path('clc_welcome_login') }}" rel="nofollow">Jobs</li>
        <li><a href="{{ path('clc_welcome_login') }}" rel="nofollow">Investors</a></li>
        <li><a href="{{ path('clc_welcome_login') }}" rel="nofollow">Media</li>
        <li><a href="{{ path('clc_welcome_login') }}" rel="nofollow">API</li>
        <li><a href="{{ path('clc_welcome_login') }}" rel="nofollow">Blog</li>
    </ul>
</div>