{# app/Resources/views/navbox.html.twig #}

{% if app.user.coloc == null %}

    <div id="empty-navbox">You need to 
       <a href="{{ path('clc_dashboard_homepage') }}">join a flatshare</a>
       to enjoy all functionalities of Coloc'all
    </div>

{% else %}

    <div id="nav_container1">
        <div id="user">
            <a href="{{ path('clc_dashboard_homepage') }}">  
                <img src="{{ asset('img/avatar.png') }}">
                <h5>{{ app.user.coloc.name }}</h5>
            </a>
        </div>
    </div>



    <div id="nav_container2">
        <ul class="nav nav-pills nav-stacked" id="nav">
            <li>
                <a href="{{ path('clc_inbox_homepage') }}">
                    <div id="p"><i id="icon" class="icon-inbox"></i>Inbox</div>
                </a>
            </li>
            <li>
                <a href="{{ path('clc_expensemanager_homepage', {'state' : 0}) }}">
                    <div id="p"><i class="icon-tags"></i>Expenses</div>
                </a>
            </li>
            <li>
                <a href="{{ path('clc_todos_homepage', {'state' : 0}) }}">
                    <div id="p"><i class="icon-calendar"></i>To-dos</div>
                </a>
            </li>
            <li>
                <a href="{{ path('clc_shoppinglist_homepage', {'state' : 0}) }}">
                    <div id="p"><i class="icon-list"></i>Shopping List</div>
                </a>
            </li>
            <li>
                <a href="{{ path('clc_coloc_homepage') }}">
                    <div id="p"><i class="icon-cog"></i>Flatshare</div>
                </a>
            </li>
            <li>
                <a href="{{ path('clc_coloc_statistics') }}">
                    <div id="p"><i class="icon-signal"></i>Stats</div>
                </a>
            </li>
        </ul>
    </div>

    <div id="nav_container3">
        <div id="nav_container3_bis">
            <a href="{{ path('clc_event_homepage') }}">
                <div id="p">
                    <i class="icon-plus-sign"></i>
                    Host an Event
                </div>
            </a>
        </div>
    </div>

{% endif %}