{# app/Resources/views/navbox.html.twig #}

<div id="nav_container1">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('clc_dashboard_homepage') }}"><div id="p">2, Carnaby St.</div></a></li>
    </ul>
</div>



<div id="nav_container2">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('clc_inbox_homepage') }}"><div id="p">Inbox</div></a></li>
        <li><a href="{{ path('clc_expensemanager_homepage') }}"><div id="p">Expenses</div></a></li>
        <li><a href="{{ path('clc_todos_homepage') }}"><div id="p">To-dos</div></a></li>
        <li><a href="{{ path('clc_shoppinglist_homepage') }}"><div id="p">Shopping List</div></a></li>
        <li><a href="{{ path('clc_dashboard_homepage') }}"><div id="p">Flatshare</div></a></li>
        <li><a href="{{ path('clc_dashboard_homepage') }}"><div id="p">Stats</div></a></li>
    </ul>
</div>
		      
<div id="nav_container3"><div id="nav_container3_bis">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('clc_event_homepage') }}"><div id="p">+ Create an Event ...</div></a></li>
    </ul>
</div></div>