{% extends "ClcWelcomeBundle::welcome.html.twig" %}

{% block title %}About Coloc'all - Coloc'all wants to simplify life in flatshares, we help you with expenses, to-dos and lists, and much more to come.{% endblock %}

{% block welcome1 %}

<div class="links-container">

	<h1>About Coloc'all</h1>
	<p>Coloc'all started with an idea from 2 students in French engineering schools who met during their bachelor degree. After having lived in shared appartments in different countries they realised that a simple and clear app could solve much more problems than the mere paper sheet they used to keep track of their expenses and to-dos. Motivated by their will to do things they decided to create it: Coloc'all was born.</p>

	<h2>What does Coloc'all mean ?</h2>

	<p>In French, a "coloc" is both a shared housing (colocation) and a flatmate (colocataire). Coloc'all means we want everybody to prefer living in a shared flat than alone, and Coloc'all is here to help that. Because when it works well, an experience in a shared flat is a thing we wish everyone to live once</p>

	<h2>The founders</h2>

	<div class="founder-box">
		<h4>Jules Marcilhacy</h4>
		<a href="mailto:jules@colocall.co">jules@colocall.co</a>
	</div>	

	<div class="founder-box">
		<h4>Arnaud Drizard</h4>
		<a href="mailto:arnaud@colocall.co">arnaud@colocall.co</a>
	</div>
</div>

{% endblock %}

{% block welcome2 %}

<div id="ribbon_container" >
</div>
<div class="container">
    <div class="newsletter-container"> 
		<h1>Coloc'all newsletter</h1>
		<p>Follow here the news about Coloc'all : new features for your <strong>flatshare</strong> and what other people say about <strong>Coloc'all</strong>. If you talk about Coloc'all, let <a href="mailto:contact@colocall.co">us</a> know and we will report it !</p>

		<div id="connect-facebook-post" class="newsletter-post">
			<h3>Tuesday, May 14th, 2013 - Connect with Facebook !</h3>
			<p>Facebook connect is now available on Coloc'all, you can connect directly with your facebook account and join your <strong>flatmates</strong> in 2 clicks. <a href="{{ path('clc_welcome_login') }}">Try it now !</a>
			</p>
			<a href="{{ path('clc_welcome_login') }}"><img src="{{ asset('img/Logos/facebook-logo.jpg') }}" height="100px" width="100px" alt="Facebook logo"></a>
		</div>

		<div class="newsletter-post">
			<h3>Sunday, May 12th, 2013 - Creation of the newsletter</h3>
			<p>This newsletter is created in order to let you know how Coloc'all is evolving. You will fond in this section 2 kind of news :</br>
				- what new features are available on Coloc'all. Based on your feedback (thank you) Coloc'all present s a new version at least every week.</br>
				- what people say about Coloc'all. When someone talks about Coloc'all we will let you know. If you say something about Coloc'all on your website, let us know and we will report it.
			</p>
		</div>

		<div class="newsletter-post">
			<h3>Tuesday, May 7th, 2013 - Jules (founder) talks about Coloc'all on French radio BFM Business</h3>
			<p>Jules Marcilhacy was invited by Alexandre Lichan to talk about Coloc'all in <a href="http://www.bfmtv.com/emission/club-media-rh/">Club Media RH</a> (BFM Business) on April 6th, after he was selected for the finals of Generation Accenture</p>
			<div id="bfm-post">
				<p><strong>Interview on BFM</strong>, you can find the podcast <a href="http://www.bfmtv.com/grille/bfmbusiness/podcast-radio/12722/">here</a>, Jules talks about <a href="http://www.colocall.co">www.colocall.co</a> starting at 34'00. You will also find an interview of Romain Soubeyran, dean at <a href="http://www.mines-paristech.fr">Mines Paristech</a>, engineering school where Jules is graduating this year.</p>
				<a href="http://www.bfmtv.com/economie/"><img src="{{ asset('img/Logos/logo-bfm-radio-eco.jpg') }}" height="100px" width="100px" alt="BFM Business logo"></a>
			</div>
			<div id="bfm-post">
				<p><strong>Generation Accenture</strong> is an entrepreneurship competition for students in top French Business and Engineering Schools with a project to defend during a real-condition interview lead by a journalist at BFM <a href="http://www.mediarh.com/5-accenture.html"></a></p>
				<a href="http://www.accenture.com"><img src="{{ asset('img/Logos/Accenture-Logo.jpg') }}" height="100px" width="100px" alt="Accenture logo"></a>
			</div>
		</div>

		<div class="newsletter-post">
			<h3>Thursday, May 2nd - One week update</h3>
			<p>After one week online and first <strong>flatmates</strong> registered, Coloc'all is fully debugged and all features are working (expenses, to-dos and shopping lists)</br>
				- we thank first <strong>flatmates</strong> (The_fresh and Dark_Marc living in 506MixParty) who trusted us and encourage more <strong>shared appartments</strong> to join Coloc'all</br>
				- we read your feedbacks and will very soon simplify the register logics in order to make it easier</p>
		</div>

		<div class="newsletter-post">
			<h3>Thursday, April 25th, 2013 - Release of the Beta version of Coloc'all</h3>
			<p>Coloc'all Beta version is open to anyone through www.colocall.co. We are happy to welcome any flatmate in the world willing to test our service and help us improve it. It is free.</p>
			<p>For now, Coloc'all offers :</p>
				- 3 main features : expense manager, to-do agenda, dynamic shopping-list</br>
				- an internal chat for flatmates</br>
				- a website in English only
			</p>
		</div>
	</div>
</div>

{% endblock %}