{% extends "ClcWelcomeBundle::welcome.html.twig" %}

{% block title %}{% trans %}Welcome to Coloc'all - Make life in your shared appartment easier{% endtrans %}{% endblock %}

{% block welcome1 %}

<div id="mainbox">

    <div id="middle-block-ext">
       <div id="middle-block">

            <div id="catchphrase-box">
                <h1>{% trans %}Welcome to Coloc'all{% endtrans %}</h1>
                <h2>{% trans %}Make life in your Flatshare easier{% endtrans %}</h2>
                <div id="catchphrase-img">
                   <a href="{{ path('clc_welcome_how') }}#Expenses"><img src="{{ asset('img/visitor_homepage/icon-expenses.png') }}" height="85px" width="85px" alt=""></a>
                   <p>{% trans %}Manage Expenses{% endtrans %}</p>
                </div>
                <div id="catchphrase-img">
                   <a href="{{ path('clc_welcome_how') }}#To-dos"><img src="{{ asset('img/visitor_homepage/icon-list.png') }}" height="85px" width="85px"  alt=""></a>
                   <p>{% trans %}Follow To-dos{% endtrans %}</p>
                </div>
                <div id="catchphrase-img">
                   <a href="{{ path('clc_welcome_how') }}#Shopping-List"><img src="{{ asset('img/visitor_homepage/icon-shopping.png') }}" height="85px" width="85px"  alt=""></a>
                   <p>{% trans %}Share Shopping Lists{% endtrans %}</p>
                </div>
            </div>

            <div id="login-box">
              <div id="login-box-content">
                    
                <div id="legend">
                  <h2>{% trans %}Login Here{% endtrans %}</h2>
                </div>
                    
                <div id="login-form">
                	{% render 'FOSUserBundle:Security:login' %}
                </div>

                <div id="facebook-button">
                    {{ facebook_login_button({'autologoutlink': false}) }}
                </div> 

                <div id="login-footer">
                	<div class="login-footer-link">
                  	<a class="btn btn-link" id="not-yet-user" href="{{ path('clc_welcome_register') }}">{% trans %}Not yet a user ?{% endtrans %}</a>
                  </div>
                  <div class="login-footer-link">   
                      <a class="btn btn-link" id="forgot-password" href="#changePasswordModal" data-toggle="modal">{% trans %}Forgot your password ?{% endtrans %}</a>
                  </div>
                </div>

				      </div>

	          </div>
        </div>
    </div>

    <!-- change password modal -->
    <div id="changePasswordModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{% trans %}Enter your email to get a new password{% endtrans %}</h3>
        </div>
        <div class="modal-body">

            {% render 'FOSUserBundle:Resetting:request' %}

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

    <div id="beta-box">
        <p>{% trans %}This is a Beta version, for ANY issue or question, please send an email to {% endtrans %} <a href="mailto:contact@colocall.co">contact@colocall.co</a></p>
    </div>

</div>

{% endblock %}
{% block welcome2 %}

<div id="mainbox-bckgd">
    <div id="ribbon_container" >
    </div>
    <div class="container">    
        <div id="mainbox-body">    
            <div id="feature-container">
                <div id="feature">
                    <img src="{{ asset('img/visitor_homepage/icon-expenses.png') }}" height="100px" width="100px" alt="expense manager">
                    <h3>{% trans %}Manage your Expenses{% endtrans %}</h3>
                    <p>{% trans %}Share your common Expenses{% endtrans %}</p>
                    <p>{% trans %}Keep track of your current debts{% endtrans %}</p>
                    <p>{% trans %}Request a Payback at any time{% endtrans %}</p>
                    <div style="padding-top: 20px;">
                      <a href="{{ path('clc_welcome_how') }}#Expenses">{{ 'Learn more'|trans }}</a>
                    </div>
                </div>

                <div id="feature">
                    <img src="{{ asset('img/visitor_homepage/icon-list.png') }}" height="100px" width="100px"  alt="to-dos">
                    <h3>{% trans %}Follow your To-dos{% endtrans %}</h3>
                    <p>{% trans %}Share To-dos in the common Agenda{% endtrans %}</p>
                    <p>{% trans %}Edit assignees and due dates online{% endtrans %}</p>
                    <p>{% trans %}Never forget what you commited to do{% endtrans %}</p>
                    <div style="padding-top: 20px;">
                      <a href="{{ path('clc_welcome_how') }}#To-dos">{{ 'Learn more'|trans }}</a>
                    </div>
                </div>

                <div id="feature">
                    <img src="{{ asset('img/visitor_homepage/icon-shopping.png') }}" height="100px" width="100px"  alt="shopping list">
                    <h3>{% trans %}Share Shopping Lists{% endtrans %}</h3>
                    <p>{% trans %}Add items to the shopping list{% endtrans %}</p>
                    <p>{% trans %}Receive the list by email upon request{% endtrans %}</p>
                    <p>{% trans %}Tell your flatmates you filled the fridge{% endtrans %}</p>
                    <div style="padding-top: 20px;">
                      <a href="{{ path('clc_welcome_how') }}#Shopping-List">{{ 'Learn more'|trans }}</a>
                    </div>
                </div>
            </div>

            <center>

              <img src="{{ asset('img/visitor_homepage/hr.png') }}" height="0.1px" width="900px" alt="" margin-left="auto" margin-right="auto">
              <h3>{% trans %}And much more to come :{% endtrans %}</h3>
            </center>

            <div id="caroussel-container-large" class="span12">
                <div id="myCarousel" class="carousel slide">

                    <!-- Carousel items -->
                    <div class="carousel-inner">

                      <div class="active item">
                          <div id="item_container">
                            <div id="text">
                                <h3>{% trans %}Payback your friends online{% endtrans %}</h3>
                                <p>{% trans %}- Get current Balances of all flatshares{% endtrans %}</p>
                                <p>{% trans %}- Request a Payback instantly at any time{% endtrans %}</p>
                                <p>{% trans %}- Payback your friends instantly with a mere Click{% endtrans %}</p>
                                <p>{% trans %}No more late outstanding IOUs, with Coloc'all you are always a click away from getting paid back !{% endtrans %}</p>
                            </div>
                            <div id="pic">
                                <img src="{{ asset('img/visitor_homepage/Carousel/Carousel-request-payback.png') }}" style="margin-top: 20px;" alt="payback button">
                            </div>
                          </div>        
                      </div>

                      <div class="item">
                          <div id="item_container">
                            <div id="pic">
                                <img src="{{ asset('img/visitor_homepage/Carousel/Carousel-event-organizer.png') }}" alt="host events">
                            </div>                            
                            <div id="text">
                              <h3>{% trans %}Host events with all your friends{% endtrans %}</h3>    
                              <p>{% trans %}- Create an event in your flatshare within Coloc'all{% endtrans %}</p>
                              <p>{% trans %}- Include your invitees in specific expense groups and lists{% endtrans %}</p>
                              <p>{% trans %}- Close the event and send notifications for paybakc to everyone{% endtrans %}</p>
                              <p>{% trans %}Coloc'all does not limit their services to flatshare and help you get invitees in your flatshare{% endtrans %}</p>
                            </div>
                          </div>        
                      </div>

                      <div class="item">
                          <div id="item_container">
                            <div id="text">
                                <h3>{% trans %}Get fun statistics on your flatshare{% endtrans %}</h3>    
                                <p>{% trans %}- See of much you spend in booz each month{% endtrans %}</p>
                                <p>{% trans %}- Spot how late to-dos are usually done{% endtrans %}</p>
                                <p>{% trans %}- Analyze the change of your flatshare with your new female flatmate{% endtrans %}</p>
                                <p>{% trans %}Coloc'all will provide you fun statistics on your flatshare that you can even ask to the staff{% endtrans %}</p>
                            </div>
                            <div id="pic">
                                <img src="{{ asset('img/visitor_homepage/Carousel/Carousel-statistics-transparent.png') }}" height="60%" width="60%" alt="statistics">
                            </div> 
                          </div>        
                      </div>

                      <div class="item">
                          <div id="item_container">
                            <div id="pic">
                                <img src="{{ asset('img/visitor_homepage/Carousel/Carousel-facebook-page.png') }}" height="80%" width="80%" alt="facebook community">
                            </div>
                            <div id="text">
                                <h3>{% trans %}Share tips with Coloc'all community{% endtrans %}</h3>    
                                <p>{% trans %}- Share your experience with Coloc'all online community{% endtrans %}</p>
                                <p>{% trans %}- Be the flatshare of the month and earn prizes{% endtrans %}</p>
                                <p>{% trans %}- Attend social events with Coloc'all{% endtrans %}</p>
                                <p>{% trans %}Coloc'all is also a community of flatshares willing to meet with each other{% endtrans %}</p>
                            </div>
                          </div>        
                      </div> 

                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

                    <div id="indicators_container">
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                          <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>
                    </div>
                </div>
            </div>


            <div id="platform_container" class="span12">
                <img id="platform_pic" src="{{ asset('img/visitor_homepage/Platform-list.jpg') }}" width="960px" alt="">
            </div>
                
        </div>
    </div>  
</div> 

{% endblock %}