{# src/Clc/UserBundle/Resources/views/Invitation/new.html.twig #}

<form action="{{ path('clc_coloc_new_invitation') }}" method="post" {{ form_enctype(form) }}>
    
    {{ form_errors(form) }}

    <div>
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, { 'attr': {'placeholder' : 'Email of your flatmate'}}) }}
    </div>

    {{ form_rest(form) }}

    <input class="btn btn-success" type="submit" value="Send invitation"/>
</form>