{# src/Clc/UserBundle/Resources/views/Beta/betaEmailForm.html.twig #}

<form action="{{ path('clc_beta_new') }}" method="post" {{ form_enctype(form) }}>
    
    {{ form_errors(form) }}

    <div class="beta-div">
        <div id="beta-label">{{ form_label(form.email, 'Enter your email') }}</div>
        <div id="beta-errors">{{ form_errors(form.email) }}</div>
        <div id="beta-widget">{{ form_widget(form.email) }}</div>
   </div>
        
    {{ form_rest(form) }}

    <input class="btn btn-warning btn-small beta-div" type="submit" value="Send Request"/>
</form>