{# src/Clc/ExpensemanagerBundle/Resources/views/Default/dynamicTable.html.twig #}

{% include "ClcTodosBundle:Default:addtodomodal.html.twig" %}

{% for task in coloc_task %}

   <tr id={{ task.task }}>
     <td id="check">
         <div class="btn-group">
             <button id="todo-check" class="btn"><i class="icon-ok" style="margin-right: 0px; color: rgb(155, 197, 142);"></i></button>
         </div>                        
     </td>
     <td id="task">{{ task.task }}</td>
     <td>{{ task.owner }}</td>
     <td><i class="icon-time"></i> {{ task.dueDate|date("d/m") }}</td>
     <td id="todo-list-edit-comment-delete">
       <i class="icon-eye-open"></i>
       <i class="icon-edit" href="#addtodomodal" data-toggle="modal"></i>
       <a href="{{ path('clc_todos_remove', {'id': task.id}) }}">
         <i class="icon-trash"></i>
       </a>
     </td>
   </tr>
  
  
{% endfor %}