{# src/Clc/ExpensemanagerBundle/Resources/views/Default/dynamicTable.html.twig #}

{% for task in coloc_task %}

    <tr id="{{ task.task }}">
        <td>
            <div id="check">
                <div class="btn-group">

                    {% if state == 0 %}
                       <a id="todo-check" class="btn" href="{{ path('clc_todos_check', {'id': task.id}) }}"><i class="icon-ok" style="margin-right: 0px; color: rgb(155, 197, 142);"></i></a>
                    {% else %}   
                      <a id="todo-check" class="btn" href="{{ path('clc_todos_uncheck', {'id': task.id}) }}"><i class=" icon-share-alt" style="margin-right: 0px; color: red;"></i></a>
                    {% endif %}

                </div>                        
            </div>
        </td>
        <td>
            <div id="task">{{ task.task }}</div>
        </td>
     
        <td>
            <div id="task-owner">
                {% if task.owner == null %} <p style="color: lightgrey">Anyone</p>
                {% else %} {{ task.owner.nickname }}
                {% endif %}
            </div>
        </td>
     
        <td>
            <div id="edit-delete">
                {% if state == 0 %}
                    <a href="{{ path('clc_todos_check', {'id': task.id}) }}">
                        <i class="icon-ok"></i>
                    </a>
                    <a href="{{ path('clc_todos_edit', {'id': task.id}) }}">
                        <i class="icon-edit"></i>
                    </a>
                    <a href="{{ path('clc_todos_remove', {'id': task.id}) }}">
                        <i class="icon-trash"></i>
                    </a>
                {% else %}
                    <a href="{{ path('clc_todos_uncheck', {'id': task.id}) }}">
                        <i class=" icon-share-alt"></i>
                    </a>
                {% endif %}
            </div>
        </td>
    </tr>
     
{% endfor %}