{# src/Clc/UserBundle/Resources/views/profile/editprofile.html.twig #}

{% extends "ClcUserBundle:Profile:profile.html.twig" %}

{% block title %}
  {{ parent() }} - Edit
{% endblock %}


  {% block init %}
  
    <form action="{{ path('clc_user_edit_profile') }}" method="post" {{ form_enctype(form) }}>
    
        {{ form_errors(form) }}
        
  {% endblock %}
      
    {% block nickname %}
        
        <h3> Edit your profile </h3>
    
        <div class="details">
            <i class="icon-star-empty"></i> 
            <p id="static-details">Username</p>
            <p>{{ form_errors(form.nickname) }}
               {{ form_widget(form.nickname) }}
            </p> 
        </div>
        
    
    {% endblock %}
        
    {% block picture %}
    {% endblock %}
      
    {% block firstname %} 
    
        {{ form_errors(form.firstname) }}
        {{ form_widget(form.firstname, { 'attr': { 'placeholder' : 'First Name' } }) }}
    
    {% endblock %}  
      
    {% block lastname %}  
    
        {{ form_errors(form.lastname) }}
        {{ form_widget(form.lastname, { 'attr': { 'placeholder' : 'Last Name' } }) }}
    
    {% endblock %}
    
    {% block nationality %}

        {{ form_errors(form.nationality) }}
        {{ form_widget(form.nationality) }}
    
    {% endblock %}
    
    {% block birthday %}  

        {{ form_errors(form.birthday) }}
        {{ form_widget(form.birthday, { 'attr': 
                                                { 'style' : 'display: inline-block;
                                                             width: 60%;
                                                             text-align: left;
                                                             margin-top: -25px;
                                                             margin-left: -10px;
                                      ' } }
                      ) }}

    {% endblock %}
    
    {% block phone %}  

        {{ form_errors(form.phone) }}
        {{ form_widget(form.phone) }}

    {% endblock %}
     
    {% block comment %}  

        {{ form_errors(form.comment) }}
        {{ form_widget(form.comment) }}

    {% endblock %}

    {% block other %}
      
        {{ form_rest(form) }}
      
    {% endblock %}

{% block footer %}
    <input class="btn btn-success" type="submit" value="Save Changes"/>
</form>
{% endblock %}
