{# src/Clc/UserBundle/Resources/views/profile/editprofile.html.twig #}

{% extends "ClcUserBundle:profile:profile.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/user-profile.css') }}" type="text/css" />
{% endblock %}

{% block title %}
  {{ parent() }} - Profile
{% endblock %}


  {% block init %}
  
    <form action="{{ path('clc_user_edit_profile') }}" method="post" {{ form_enctype(form) }}>
    
        {{ form_errors(form) }}
        
  {% endblock %}
      
    {% block nickname %}
    
        {{ form_label(form.nickname) }}
        {{ form_errors(form.nickname) }}
        {{ form_widget(form.nickname) }}
    
    {% endblock %}
        
    {% block picture %}
    {% endblock %}
      
    {% block firstname %} 
    
        {{ form_errors(form.firstname) }}
        {{ form_widget(form.firstname) }}
    
    {% endblock %}  
      
    {% block lastname %}  
    
        {{ form_errors(form.lastname) }}
        {{ form_widget(form.lastname) }}
    
    {% endblock %}
    
    {% block nationality %}

        {{ form_errors(form.nationality) }}
        {{ form_widget(form.nationality) }}
    
    {% endblock %}
    
    {% block birthday %}  

        {{ form_errors(form.birthday) }}
        {{ form_widget(form.birthday) }}

    {% endblock %}
    
    {% block phone %}  

        {{ form_errors(form.phone) }}
        {{ form_widget(form.phone) }}

    {% endblock %}
     
    {% block comment %}  

        {{ form_errors(form.comment) }}
        {{ form_widget(form.comment) }}

    {% endblock %}

    {% block other %}
      
        {{ form_rest(form) }}
      
    {% endblock %}

{% block footer %}
    <input class="btn btn-success" type="submit"/>
</form>
{% endblock %}
