{# src/Clc/UserBundle/Resources/views/profile/profile.html.twig #}

{# Variables disponibles dans cette page (entre parenthèses les attributs des variables) :
    - 'path'  string donnant le chemin de la profile picture de l'utilisateur actif
#}

    {% extends "::base.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/user-profile.css') }}" type="text/css" />
{% endblock %}

    {% block title %}
      {{ parent() }} - Profile
    {% endblock %}

    {% block body %}
      
<div id="profile-page-content">
      
      
<div class="profile-container">
	<section id="profile-content">
			<h1>{{ app.user.username }}</h1>
                        
                        <div id="profile-picture">
                            <img src="{{ asset(app.user.picture.path) }}" class="img-polaroid" height="200px" width="200px" margin="auto" alt="">
                        </div>
                        
			<div>
                            <div class="details">
                            <i class="icon-user"></i> <p id="static-details">Name</p><p>{{ app.user.firstname }} {{ app.user.lastname }}</p> 
                            </div>
                            <div class="details">             
                                <i class="icon-globe icon-2x"></i><p id="static-details">Nationality</p><p>{{ app.user.nationality }}</p>
                                </div>
                                <div class="details">
                                <i class="icon-gift"></i><p id="static-details">Birth Date</p><p>{{ app.user.birthday|date("d/m/y") }}</p>
                                </div>
                                <div class="details">
                                <i class="icon-comment"></i><p id="static-details">Phone Number</p><p>{{ app.user.phone }}</p>
                                </div>
                                <div class="details">
                                <i class="icon-envelope"></i><p id="static-details">E-mail</p><p>{{ app.user.email }}</p>
                                </div>
                                <div class="details">
                                <i class="icon-heart"></i><p id="static-details">Passions</p><p>{{ app.user.comment }}</p>
                                </div>
			</div>
			
			
		<div class="profile-footer ">
		
                  <div class="btn-group">
                        <a class="btn" href="{{ path('clc_user_editprofilepicture') }}">Edit Profile Picture</a>
                        <a class="btn" href="{{ path('clc_user_editprofile') }}">Edit Profile Information</a>
                  </div>
		</div><!-- button -->
	</section><!-- content -->
</div><!-- container -->


      </div>


    {% endblock body %}  