{# src/Clc/UserBundle/Resources/views/profile/profile.html.twig #}

{# Variables disponibles dans cette page (entre parenthèses les attributs des variables) :
    - 'path'  string donnant le chemin de la profile picture de l'utilisateur actif
#}

    {% extends "::base.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/user-profile.css') }}" type="text/css" />
{% endblock %}

{% block title %}
  {{ parent() }} - Profile
{% endblock %}

{% block body %}
  
    
      
    <div id="profile-page-content">
        <div class="profile-container">
	    <section id="profile-content">
                
                {% block init %}
                {% endblock %}
                
                {% block username %}
                <h1>{{ app.user.username }}</h1>
                {% endblock %}
                
                {% block picture %}
                <div id="profile-picture">
                    <img src="{{ asset(app.user.picture.path) }}" class="img-polaroid" height="200px" width="200px" margin="auto" alt="">
                </div>
                {% endblock %}

                <div>
                    <div class="details">
                        <i class="icon-user"></i> 
                        <p id="static-details">Name</p>
                        <p>{% block firstname %}{{ app.user.firstname }}{% endblock %}
                           {% block lastname %}{{ app.user.lastname }}{% endblock %}
                        </p> 
                    </div>
                    <div class="details">             
                        <i class="icon-globe icon-2x"></i>
                        <p id="static-details">Nationality</p>
                        <p>{% block nationality %}
                           {{ app.user.nationality }}
                           {% endblock %}
                        </p>
                    </div>
                    <div class="details">
                        <i class="icon-gift"></i>
                        <p id="static-details">Birth Date</p>
                        <p>{% block birthday %}
                           {{ app.user.birthday|date("d/m/y") }}
                           {% endblock %}
                        </p>
                    </div>
                    <div class="details">
                        <i class="icon-comment"></i>
                        <p id="static-details">Phone Number</p>
                        <p>{% block phone %}
                           {{ app.user.phone }}
                           {% endblock %}
                        </p>
                    </div>
                    <div class="details">
                        <i class="icon-envelope"></i>
                        <p id="static-details">E-mail</p>
                        <p>{% block email %}
                           {{ app.user.email }}
                           {% endblock %}
                        </p>
                    </div>
                    <div class="details">
                        <i class="icon-heart"></i>
                        <p id="static-details">Passions</p>
                        <p>{% block comment %}
                           {{ app.user.comment }}
                           {% endblock %}
                        </p>
                    </div>
                        
                           {% block other %}
                           {% endblock %}
                </div>
                
                <div class="profile-footer ">
                    {% block footer %}
                        
                        <div class="btn-group">
                            <button class="btn" href="{{ path('clc_user_editprofile') }}">Edit Profile Information</button>
                            <!-- Button to trigger modal -->
                            <a href="#profilePictureModal" role="button" class="btn" data-toggle="modal">Edit Profile Picture</a>
                        </div>
                        
                        <!-- Modal -->
                        <div id="profilePictureModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="profilePictureModalLabel">Change your Profile Picture</h3>
                          </div>
                          <div class="modal-body">
                            
                              {% render 'ClcUserBundle:profile:editProfilePicture' %}
                              
                          </div>
                          <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            <button class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                        <!-- End of Modal -->
                    
                    
                    {% endblock %}
                </div><!-- button -->
                
            </section><!-- content -->
        </div><!-- container -->
    </div>
  
  {% block edit %}
  {% endblock %}

{% endblock body %}  