{# src/Clc/ColocBundle/Resources/views/layout.html.twig  #}

{# Variables disponibles dans cette page (entre parenthèses les attributs des variables) :
    - 'users'  tableau des utilisateurs de la coloc active
#}

{% extends '::base.html.twig' %}

{% block title %}
  {{ parent() }} - Flatshare
{% endblock %}
  
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/coloc.css') }}" type="text/css" />
{% endblock %}

{% block body %}
  
  <div id="coloc-content">
   
    <h1> {{ app.user.coloc.name }} </h1>

      
    <div id="coloc-left-box" class="coloc-box">
        
        <div class="coloc-body">
            
            <h3>Members of this flatshare</h3>
            
            <div id="members-box">
                {% for user in users %}

                  <div id="user-box">
                      <img src="{{ asset(user.picture.path) }}" alt="">
                      <div id="user-presentation">
                          {{ user.firstname }} {{ user.lastname }} is <b>{{ user.nickname }}</b>
                      </div>
                  </div>

                {% endfor %}
            </div>
        </div>
                
        <div class="coloc-footer">    
            <a class="btn" href="#"> Leave this Flatshare </a>
        </div>
            
    </div>

    <div id="coloc-right-box">
        <div id="coloc-right-top-box" class="coloc-box">
            
            <div class="coloc-body">
                <h3>Flatshare address</h3>
                
                
                <p>{{ app.user.coloc.address1 }}</p>
                <p>{{ app.user.coloc.address2 }}</p>
                <p>{{ app.user.coloc.zipcode }}{{ app.user.coloc.city }}</p>
                <p>{{ app.user.coloc.country }}</p>
                
            </div>
            
            <div class="coloc-footer">
                {% include "ClcColocBundle:Creation:editColocModal.html.twig" %}
                <a class="btn" href="#editColocModal" data-toggle="modal">Edit Flatshare Information</a>
            </div>
            
        </div>
        <div id="coloc-right-bottom-box" class="coloc-box">
            
            <div class="coloc-body">
                {% if invitations|length == 0 %}
                    <h4>There is no pending invitation</h4>
                {%else %}
                    <h4>There {% if invitations|length == 1 %} is {% else %} are {% endif %} 
                             {{ invitations|length }} 
                             pending invitations for :
                    </h4>

                    {% for invitation in invitations %}
                        <p>{{ invitation.email }} (by {{invitation.author.nickname}})</p>
                        <a id="cross-button" type="button" class="close" href="{{ path('clc_coloc_remove_invitation', { 'id': invitation.id}) }}">×</a>
                    {% endfor %}
                {% endif %}
            </div>
             
            <div class="coloc-footer">        
                {% include "ClcColocBundle:Invitation:sendInvitationModal.html.twig" %}
                <a class="btn" href="#sendinvitationmodal" data-toggle="modal">Send an invitation</a>
            </div>
                
        </div>
    </div>
  </div>
  
{% endblock %}
   
{% block javascripts %}
  {{ parent() }}
{% endblock %} 