{# src/Clc/UserBundle/Resources/views/layout.html.twig #}
 
{# On étend notre layout à frame #}
{% extends "::frame.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}" type="text/css" />
{% endblock %}

{% block mainbox %}
<div id="signup-box" class="container-fluid">
<div id="container-center-signup" class="container" >
  <div id="mainbox">

    
        <div id="middle_block1_ext">
            <div id="middle_block1">
                <div id="catchphrase_box">
                    <div id="catchphrase1">
                        <p>Live Together,<br><br><br><br>
                           Live Better</p>
                    </div>
                    <div id="catchphrase2">
                       <p>Start Using <strong>Coloc'all,</strong><br><br><br>
                          Today</p>
                    </div>
                </div>

                <div id="signin_box">
                 <div id="signin_box_content">
                      <form>
                        <fieldset>
                          <legend>
                              <div id="legend">
                                  New on Coloc'all ? Sign up for free !
                              </div>
                          </legend>
                          <label>Name</label>
                          <input type="text" placeholder="Enter your full name">
                          <label>E-mail</label>
                          <input type="text" placeholder="Your e-mail here">
                          <label>Password</label>
                          <input type="password" placeholder="And choose a Password">
                          <div id="signin_box_footer">
                            <button type="submit" class="btn btn-primary btn-medium">Log in with facebook</button>
                            <button type="submit" class="btn btn-warning btn-medium">Sign up</button>
                          </div>
                        </fieldset>
                      </form>
                  </div>
                </div>
            </div>
        </div>
    
</div>
</div>

</div>


<div id="mainbox-bckgd" class="container-fluid">
    
    <div id="ribbon_container" ></div>
    
    <div class="container">    
        <div id="mainbox">    
            <div id="block2">
        <div class="row">
            
                
            <div id="feature_container">
                <div id="feature" class="span4">
                    <img src="{{ asset('img/gandhi_round.png') }}" height="60%" width="60%" alt="">
                    <h3>Manage Expenses</h3>
                    <p>- blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br></p>
                </div>
            
            
                <div id="feature" class="span4">
                    <img src="{{ asset('img/gandhi_round.png') }}" height="60%" width="60%" alt="">
                    <h3>Payback Online</h3>
                    <p>- blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br></p>
                </div>
            
            
                <div id="feature" class="span4">
                    <img src="{{ asset('img/gandhi_round.png') }}" height="60%" width="60%" alt="">
                    <h3>Manage To-dos</h3>
                    <p>- blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br>
                        - blablablaablablblablabalb</br></p>
                </div>
            </div>
                
            <div class="span10 offset1 lign"></div>    
                
            <div class="span12">
                <div id="myCarousel" class="carousel slide">
                           
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                      <div class="active item">
                          <div id="item_container">
                            <div id="text">
                              <h3>Manage your common expenses</h3>    
                              <p> Lorem ipsum dolor sit amet,consectetur adipisicing elit, 
                                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                                  officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div id="pic">
                                <img src="{{ asset('img/visitor_homepage/Carousel/Carousel-blackboard.png') }}" alt="">
                            </div>
                          </div>        
                      </div>
                      <div class="item">
                          <div id="item_container">
                            <div id="pic">
                            </div>
                            <div id="text">
                                <h3>Payback your friends online</h3>    
                                <p> Lorem ipsum dolor sit amet,consectetur adipisicing elit, 
                                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                                  officia deserunt mollit anim id est laborum.</p>
                            </div>
                          </div>        
                      </div>
                      <div class="item">
                          <div id="item_container">
                            <div id="text">
                                <h3>Manage your to-dos easily</h3>    
                                <p> Lorem ipsum dolor sit amet,consectetur adipisicing elit, 
                                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                                  officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div id="pic">
                                <img src="{{ asset('img/visitor_homepage/Carousel/Carousel-postit.jpg') }}" alt="">
                            </div> 
                          </div>        
                      </div>
                      <div class="item">
                          <div id="item_container">
                            <div id="pic">
                            </div>
                            <div id="text">
                                <h3>Create dynamic shopping lists</h3>    
                                <p> Lorem ipsum dolor sit amet,consectetur adipisicing elit, 
                                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                                  officia deserunt mollit anim id est laborum.</p>
                            </div>
                          </div>        
                      </div>
                      <div class="item">
                          <div id="item_container">
                            <div id="text">
                              <h3>Host events with all your friends</h3>    
                              <p> Lorem ipsum dolor sit amet,consectetur adipisicing elit, 
                                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                                  officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div id="pic">
                                <img src="{{ asset('img/visitor_homepage/Carousel/Carousel-event-organizer.png') }}" alt="">
                            </div>
                          </div>        
                      </div>
                      <div class="item">
                          <div id="item_container">
                            <div id="pic">
                            </div>
                            <div id="text">
                                <h3>Share tips with Coloc'all community</h3>    
                                <p> Lorem ipsum dolor sit amet,consectetur adipisicing elit, 
                                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                                  officia deserunt mollit anim id est laborum.</p>
                            </div>
                          </div>        
                      </div>
                      <div class="item">
                          <div id="item_container">
                            <div id="text">
                                <h3>Get fun statistics on your flatshare</h3>    
                                <p> Lorem ipsum dolor sit amet,consectetur adipisicing elit, 
                                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                                  officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div id="pic">
                            </div> 
                          </div>        
                      </div>
                      <div class="item">
                          <div id="item_container">
                            <div id="pic">
                            </div>
                            <div id="text">
                                <h3>Enjoy life as you should</h3>    
                                <p> Lorem ipsum dolor sit amet,consectetur adipisicing elit, 
                                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                                  officia deserunt mollit anim id est laborum.</p>
                            </div>
                          </div>        
                      </div>      
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    
                    <div id="indicators_container">
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                          <li data-target="#myCarousel" data-slide-to="3"></li>
                          <li data-target="#myCarousel" data-slide-to="4"></li>
                          <li data-target="#myCarousel" data-slide-to="5"></li>
                          <li data-target="#myCarousel" data-slide-to="6"></li>
                          <li data-target="#myCarousel" data-slide-to="7"></li>
                        </ol>
                    </div>
                </div>
            </div>
            
            
            <div id="platform_container" class="span12">
                <img id="platform_pic" src="{{ asset('img/visitor_homepage/Platform-list.jpg') }}" alt="">
            </div>
                
   
                
        </div>    
     </div>
</div>
</div>  
    
<div id="business-box" class="container-fluid">
                <div id="ribbon_container2">
            </div> 
    <div id="block3" class="container">        
            <div id="block3_container">
                <div class="whitebox" id="trialbox">
                </div>
                <div class="whitebox" id="lignboxleft">
                </div>
                <div id="timebox">
                    <p>After 3 months</p>
                </div>
                <div class="whitebox" id="lignboxright">
                </div>
                <div class="whitebox" id="freebox">
                </div>
                <div class="whitebox" id="paybox">
                </div>
            </div>               
    </div>
      
  </div>
</div>  
</div>

        <div id="footer" class="container-fluid">
            {% include ":default:footer.html.twig" %}
        </div>

{% endblock mainbox %}