{# src/Clc/ShoppinglistBundle/Resources/views/layout.html.twig #}

{# Variables disponibles dans cette page (entre parenthèses les attributs des variables) :
    - 'item_list' tableau d'item(state, name, comment, author, coloc, addeddate, doneDate)
    - 'state'     0 si on affiche les pending items, 1 si on affiche les checked items
#}
 
{% extends "::base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/shopping-list.css') }}" type="text/css" />
{% endblock %}
 
{% block title %}
  {{ parent() }} - Shopping list
{% endblock %}
 
{% block body %}
  
  {% include "ClcShoppinglistBundle:Default:additemmodal.html.twig" %}
    
    <div id="todos-content">
      <div id="todos-middle">
        <div id="todos-toolbar-tab">
            <ul class="todo-filter-tab">
                <li class="add-todo"> 
                    <button class="circle-button" href="#additemmodal" data-toggle="modal"><i class="icon-plus icon-muted"></i></button>
                </li>
                <li class="status-filter">
                  <div id="state-buttons">  
                    <a href="{{ path('clc_shoppinglist_homepage', {'state' : 1}) }}"><div class="state-button">Bought</div></a>
                    <a href="{{ path('clc_shoppinglist_homepage', {'state' : 0}) }}"><div class="state-button">Missing</div></a>
                  </div>  
                </li>
                <li class="category-filter">
                  <div class="btn-group">
                    <a class="btn dropdown-toggle square-button" data-toggle="dropdown" href="#">
                      <i class="icon-envelope"></i>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <div id="square-button-text">
                        <a href="{{ path('clc_shoppinglist_receive', {'state' : state}) }}">Receive shopping list by email</a>
                      </div>
                    </ul>
                  </div>
                </li>
            </ul>            
        </div>
      
        <div id="todos-table2-container">
            <section class="todo">
                <table id="todo-list" class="table">
                     
                    <caption id="todo-table-caption">  
                        <div id="todo-filter-tab-container">
                            <div id="item-check">
                              {% if state == 0 %}<p>Bought ?</p>
                              {% else %}<p>Re-add</p>
                              {% endif %}
                            </div> 
                            <div id="all-todos-caption">
                                
                                {% if state == 0 %} 
                                
                                  {% render 'ClcShoppinglistBundle:Shoppinglist:newLine' %}
                                
                                {% else %}<p>Recently bought</p>
                                {% endif %}
                                
                            </div>
                        </div>
                    </caption>
                         
                    <tbody>
                     
                        {% for item in item_list %}  

                        <tr>
                          <td>
                            <div id="check">

                              {% if state == 0 %}
                                <a id="todo-check" class="btn" href="{{ path('clc_shoppinglist_check', {'id': item.id}) }}">  <i class="icon-ok" style="margin-right: 0px; color: rgb(155, 197, 142);"></i>
                                </a>
                              {% else %}   
                                <a id="todo-check" class="btn" href="{{ path('clc_shoppinglist_uncheck', {'id': item.id}) }}">
                                  <i class=" icon-share-alt" style="margin-right: 0px; color: red;"></i>
                                </a>
                              {% endif %}

                            </div>
                          </td>
                          <td>
                              <div id="shopping-list-item">
                                <div id="item">{{ item.name }}</div>
                                <div id="author-date"> 
                                  Added by {{ item.author.nickname }} on {{ item.addedDate|date("d/m")  }}
                                </div>
                              </div>
                          </td>
                          <td>
                            <div id="edit-delete">
                              {% if state == 0 %}
                                <a href="{{ path('clc_shoppinglist_check', {'id': item.id}) }}">
                                  <i class="icon-ok"></i>
                                </a>
                                <a href="{{ path('clc_shoppinglist_edit', {'id': item.id}) }}">
                                  <i class="icon-edit"></i>
                                </a>
                                <a href="{{ path('clc_shoppinglist_remove', {'id': item.id}) }}">
                                  <i class="icon-trash"></i>
                                </a>
                              {% else %}
                                <a href="{{ path('clc_shoppinglist_uncheck', {'id': item.id}) }}">
                                  <i class="icon-share-alt"></i>
                                </a>
                              {% endif %}
                            </div>
                          </td>
                        </tr>
                       
                        {% endfor %}  
                
                    </tbody>
                </table>      

                <ul class="todo-pagination">
                    <li class="previous"><span><i class="icon-previous"></i> Previous</span></li>
                    <li class="next"><a href="index.html">Next <i class="icon-next"></i></a></li>
                </ul>
                    
            </section>
        </div>
      </div>
            
      {% include ":default:floatingToolbar.html.twig" %}
            
    </div>
    
{% endblock %}