{# src/ClcUserBundle/Resources/views/Security/login #}

<form action="{{ path("fos_user_security_check") }}" method="post">


    <input type="text" id="email" name="_username" value="{{ last_username }}" required="required" placeholder="Email" />


    <input type="password" id="password" name="_password" required="required" placeholder="Password"/>

    <div id="login-row">
        <div id="remember-block">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
        </div>

        <div id="login-button">
            <input type="submit" class="btn btn-success" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />    
        </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

</form>

<div id="block-error">
    {% if error %}
    	<div id="login-errors">{{ error|trans({}, 'FOSUserBundle') }}</div>
	{% endif %}
</div>

