<div id="banner1">
  <a href="{{ path('clc_dashboard_homepage') }}"><img src="{{ asset('img/logo.png') }}" id="logo"  alt=""></a>
</div>
        
<div id="banner2">

	<div id="links-box">
	    <ul>
	        <li><a href="{{ path('clc_welcome_login') }}">{{ 'Home'|trans }}</a></li>
	        <li><a href="{{ path('clc_welcome_about') }}">{{ 'About'|trans }}</a></li>
	        <li><a href="{{ path('clc_welcome_how') }}">{{ 'How it works'|trans }}</a></li>
	        |
	        <li><a href="{{ path('clc_welcome_register') }}">{{ 'Register'|trans }}</a></li>
	    </ul>
	</div>

	<div class="dropdown" id="language">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'Language : English'| trans }}<b class="caret"></b></a>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	    <li><a href="{{ path('clc_welcome_set_locale', { 'locale': 'en', 'route' : app.request.attributes.get('_route') }) }}">English</a></li>
	    <li><a href="{{ path('clc_welcome_set_locale', { 'locale': 'fr', 'route' : app.request.attributes.get('_route') }) }}">Français</a></li>
	  </ul>
	</div>

</div>