{# src/Clc/TodosBundle/Resources/views/layout.html.twig #}

{# Variables disponibles dans cette page (entre parenthèses les attributs des variables) :
    - 'coloc_task' tableau de task(state, task, dueDate, date, author, owner, coloc)
    - 'user_task'  tableau de task(state, task, dueDate, date, author, owner, coloc)
    - 'state'      0 si on affiche les pending to-dos, 1 si on affiche les checked to-dos
#}

{% extends "::base.html.twig" %}


{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/todos.css') }}" type="text/css" />
{% endblock %}
  
{% block javascripts %}
  {{ parent() }}
  <script type='text/javascript' src='{{ asset('js/todos-script.js') }}'></script>
{% endblock %}
  
  
 
{% block title %}
  {{ parent() }} - To-dos
{% endblock %}
 
{% block body %}
  
  <div id="todos-content">
    <div id="todos-middle">
      <div id="todos-table1-container">
          <section class="todo">
              
              <table id="todo-list" class="table table-hover">
                   
                  <caption id="todo-table-caption">  
                      <div id="todo-filter-tab-container"> 
                          <div id="all-todos-caption">
                              <p>My Pending To-dos</p>                           
                          </div>
                      </div>
                  </caption>
                  
                  {% if user_task == null %}
                    <tbody>
                         <tr>
                            <td></td>
                            <td></td>
                            <td>You do not have any pending to-do</td>
                         </tr>
                    </body>
                  {% else %}
                    
                    <thead>
                      <tr>
                        <th></th>
                        <th>What</th>
                        <th>Who</th>
                        <th>When</th>
                        <th>Edit</th>
                      </tr>
                    </thead>

                    <tbody>
                        {% for task in user_task %}

                        <tr>
                          <td><div id="check">
                              <button class="btn"><i class="icon-ok" style="margin-right: 0px; color: rgb(155, 197, 142);"></i></button>
                          </div></td>
                          <td><div id="task">{{ task.task }}</div></td>
                          <td><div id="task-owner">{{ task.owner.nickname }}</div></td>
                          <td><div id="date">
                                {% if state == 0 %}
                                    {% if task.dueDate|date("m/d") < "now"|date("m/d") %}
                                        overdue
                                    {% elseif task.dueDate|date("m/d") == "now"|date("m/d") %}
                                        today
                                    {% else %}
                                        <i class="icon-time"></i>{{ task.dueDate|date("d/m") }}
                                    {% endif %}
                                {% else %}
                                    <i class="icon-time"></i>{{ task.dueDate|date("d-m") }} 
                                {% endif %}      
                              </div></td>
                          <td><div id="edit-delete">
                            {#<a href="#edittodomodal{{task.id}}" data-toggle="modal">
                                <i class="icon-edit"></i>
                            </a>#}
                            <a href="{{ path('clc_todos_remove', {'id': task.id}) }}">
                              <i class="icon-trash"></i>
                            </a>
                          </div></td>
                        </tr>
                        
                        <!-- Edit Modal --> 
                        <div id="edittodomodal{{task.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">Edit To-do</h3>
                            </div>
                        <div class="modal-body">

                        {% render 'ClcTodosBundle:Todos:edit' with {'id': task.id} %}

                        </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>

                        {% endfor %}
                    </tbody>
                    
                  {% endif %}
                  
              </table>      

              <ul class="todo-pagination">
                  <li class="previous"><span><i class="icon-previous"></i> Previous</span></li>
                  <li class="next"><a href="index.html">Next <i class="icon-next"></i></a></li>
              </ul> 
                  
          </section>
      </div>
      
      {% include "ClcTodosBundle:Default:addtodomodal.html.twig" %}
      
      <div id="todos-toolbar-tab">
           <ul class="todo-filter-tab">
              <li class="add-todo"> 
                  <button class="circle-button" href="#addtodomodal" data-toggle="modal"><i class="icon-plus icon-muted"></i></button>
              </li>
              <li class="status-filter">
                  <div id="state-buttons">
                    <a href="{{ path('clc_todos_homepage', {'state' : 1}) }}"><div class="state-button">Done</div></a>
                    <a href="{{ path('clc_todos_homepage', {'state' : 0}) }}"><div class="state-button">Pending</div></a>
                  </div>
              </li>
              <li class="category-filter"><button class="square-button"><i class="icon-list-ul icon-white"></i></button></li>
          </ul>
                      
      </div>
    
      <div id="todos-table2-container">
          <section class="todo">
              <table id="todo-list" class="table table-hover">
                  
                  <caption id="todo-table-caption">  
                      <div id="todo-filter-tab-container"> 
                          <div id="all-todos-caption">
                              
                              {% if state == 0 %} <p>All Pending To-dos</p>
                              {% else %}          <p>All Checked To-dos</p>
                              {% endif %}
                              
                          </div>
                      </div>
                  </caption>
                  
                  {% if coloc_task == null %}
                    <tbody>
                         <tr>
                            <td></td>
                            <td></td>
                            <td>You do not have any pending to-do</td>
                         </tr>
                    </body>
                  {% else %}
                  
                    <thead>
                      <tr>
                        <th></th>
                        <th>What</th>
                        <th>Who</th>
                        <th>When</th>
                        <th>Edit</th>
                      </tr>
                    </thead>

                    <tbody>
                        {% include "ClcTodosBundle:Default:dynamicTable.html.twig" %} 
                    </tbody>
                    
                  {% endif %}  
                    
              </table>
                  
               <ul class="todo-pagination">
                  <li class="previous"><span><i class="icon-previous"></i> Previous</span></li>
                  <li class="next"><a href="index.html">Next <i class="icon-next"></i></a></li>
              </ul>
          </section>
      </div>  
    </div>      
      
    {% include ":default:floatingToolbar.html.twig" %}
          
  </div>
  
{% endblock %}