{# src/Clc/ExpensemanagerBundle/Resources/views/layout.html.twig #}
 
{% extends "::base.html.twig" %}


{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/todos.css') }}" type="text/css" />
{% endblock %}
 
{% block title %}
  {{ parent() }} - To-dos
{% endblock %}
 
{% block body %}
  
  <div id="todos-content">

      
        <div id="todos-table1-container">
            
            <section class="todo">

                 <table id="todo-list" class="table">
                     
                     
                 <caption id="todo-table-caption">  
                    <div id="todo-filter-tab-container"> 
                        <div id="all-todos-caption">
                            <p>My to-dos</p>
                            
                        </div>
                        <div style="width: 50%; display: inline-block; flaot:right;">
                             <ul class="todo-filter-tab">
                                <li class="add-todo"> 
                                    <button class="circle-button"><i class="icon-plus icon-muted" style="color: rgb(88, 104, 120); text-shadow: 0px 1px rgb(255, 255, 255);"></i></button>
                                </li>
                                <li class="status-filter">
                                    <form action="index.html" method="post" class="settings-form">
                                    <label>
                                        <input type="checkbox" name="gps" value="0">
                                            <span class="settings-switch">                                           
                                            <span class="settings-switch-handle">                                          
                                            </span>
                                            </span>
                                    </label>
                                    </form>
                                </li>
                                <li class="category-filter"><button class="square-button"><i class="icon-th-large icon-white" style="color: rgb(88, 104, 120); text-shadow: 0px 1px rgb(255, 255, 255);"></i></button></li>
                            </ul>
                        </div>
                    </div>
                 </caption>
                 
                 
                 <tbody>

                     {% for task in user_task %}

                       <tr>
                         <td id="check">
                                    <form action="index.html" method="post" class="settings-form">
                                    <label>
                                        <input type="checkbox" name="gps" value="0">
                                            <span class="todo-settings-switch">                                           
                                            <span class="todo-settings-switch-handle">                                          
                                            </span>
                                            </span>
                                    </label>
                                    </form>                         
                         </td>
                         <td>{{ task.task }}</td>
                         <td>{{ task.owner }}</td>
                         <td><i class="icon-time"></i> {{ task.dueDate|date("d/m") }}</td>
                         <td id="todo-list-edit-comment-delete">
                         <i class="icon-eye-open"></i>
                         <i class="icon-edit"></i>
                         <a>
                               <i class="icon-trash" href="{{ path('clc_todos_remove', {'id': task.id}) }}" ></i>
                             </a>
                         </td>
                       </tr>

                     {% endfor %}

                   </tbody>
                 </table>      

              <ul class="todo-pagination">
                <li class="previous"><span><i class="icon-previous"></i> Previous</span></li>
                <li class="next"><a href="index.html">Next <i class="icon-next"></i></a></li>
              </ul>
                
    </section>
  </div>
      

      
       {% include "ClcTodosBundle:Default:addtodomodal.html.twig" %}
  
        <div id="todos-table2-container">
            
            <section class="todo">

                 <table id="todo-list" class="table">
                     
                 <caption id="todo-table-caption">  
                    <div id="todo-filter-tab-container"> 
                        <div id="all-todos-caption">
                            <p>All To-dos</p>
                        </div>
                        <div style="width: 50%; display: inline-block; flaot:right;">
                             <ul class="todo-filter-tab">
                                <li class="add-todo"> 
                                    <button class="circle-button"><i class="icon-plus icon-muted" style="color: rgb(88, 104, 120); text-shadow: 0px 1px rgb(255, 255, 255);"></i></button>
                                </li>
                                <li class="status-filter">
                                    <form action="index.html" method="post" class="settings-form">
                                    <label>
                                        <input type="checkbox" name="gps" value="0">
                                            <span class="settings-switch">                                           
                                            <span class="settings-switch-handle">                                          
                                            </span>
                                            </span>
                                    </label>
                                    </form>
                                </li>
                                <li class="category-filter"><button class="square-button"><i class="icon-th-large icon-white" style="color: rgb(88, 104, 120); text-shadow: 0px 1px rgb(255, 255, 255);"></i></button></li>
                            </ul>
                        </div>
                    </div>
                 </caption>
                         
                 <tbody>

                
             {% include "ClcTodosBundle:Default:dynamicTable.html.twig" %} 
                   </tbody>
                 </table>      

              <ul class="todo-pagination">
                <li class="previous"><span><i class="icon-previous"></i> Previous</span></li>

                <li class="next"><a href="index.html">Next <i class="icon-next"></i></a></li>
              </ul>

                
    </section>
  </div>                

      
  </div>
  
{% endblock %}