{# src/Clc/ExpensemanagerBundle/Resources/views/layout.html.twig #}
 
{% extends "::base.html.twig" %}


{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/todos.css') }}" type="text/css" />
{% endblock %}
  
{% block javascripts %}
  {{ parent() }}
  <script type='text/javascript' src='{{ asset('js/todos-script.js') }}'></script>
{% endblock %}
  
  
 
{% block title %}
  {{ parent() }} - To-dos
{% endblock %}
 
{% block body %}
  
  <div id="todos-content">
      
        <div id="todos-table1-container">
            
            <section class="todo">

                 <table id="todo-list" class="table">
                     
                   <caption id="todo-table-caption">  
                     <div id="todo-filter-tab-container"> 
                       <div id="all-todos-caption">
                         <p>My to-dos</p>                           
                       </div>
                     </div>
                   </caption>
                 
                   <tbody>

                     {% for task in user_task %}

                       <tr>
                         <td id="check">
                             <div class="btn-group">
                                 <button class="btn"><i class="icon-ok" style="margin-right: 0px; color: rgb(155, 197, 142);"></i></button>
                             </div>                        
                         </td>
                         <td id="task">{{ task.task }}</td>
                         <td>{{ task.owner }}</td>
                         <td><i class="icon-time"></i> {{ task.dueDate|date("d/m") }}</td>
                         <td id="todo-list-edit-comment-delete">
                           <i class="icon-eye-open"></i>
                           <i class="icon-edit"></i>
                           <a href="{{ path('clc_todos_remove', {'id': task.id}) }}">
                             <i class="icon-trash"></i>
                           </a>
                         </td>
                       </tr>

                     {% endfor %}

                   </tbody>
                 </table>      

              <ul class="todo-pagination">
                <li class="previous"><span><i class="icon-previous"></i> Previous</span></li>
                <li class="next"><a href="index.html">Next <i class="icon-next"></i></a></li>
              </ul>
                
    </section>
  </div>
      

      
       {% include "ClcTodosBundle:Default:addtodomodal.html.twig" %}
      
        <div id="todos-toolbar-tab">
             <ul class="todo-filter-tab">
                <li class="add-todo"> 
                    <button class="circle-button" href="#addtodomodal" data-toggle="modal"><i class="icon-plus icon-muted" style="color: rgb(88, 104, 120); text-shadow: 0px 1px rgb(255, 255, 255);"></i></button>
                </li>
                <li class="status-filter">
                    <div class="btn-group">
                    <a class="btn" href="{{ path('clc_todos_homepage', {'state' : 1}) }}">Checked</a>
                    <a class="btn" href="{{ path('clc_todos_homepage', {'state' : 0}) }}">Pending</a>
                    </div>
                </li>
                <li class="category-filter"><button class="square-button"><i class="icon-list-ul icon-white" style="color: rgb(88, 104, 120); text-shadow: 0px 1px rgb(255, 255, 255);"></i></button></li>
            </ul>
                        
        </div>
      
        <div id="todos-table2-container">
            
            <section class="todo">

                 <table id="todo-list" class="table">
                     
                 <caption id="todo-table-caption">  
                    <div id="todo-filter-tab-container"> 
                        <div id="all-todos-caption">
                            <p>All To-dos</p>
                        </div>

                        </div>
                    </div>
                 </caption>
                         
                 <tbody>

                
             {% include "ClcTodosBundle:Default:dynamicTable.html.twig" %} 
                   </tbody>
                 </table>      

              <ul class="todo-pagination">
                <li class="previous"><span><i class="icon-previous"></i> Previous</span></li>

                <li class="next"><a href="index.html">Next <i class="icon-next"></i></a></li>
              </ul>

                
    </section>
  </div>                
    
  </div>
  
{% endblock %}